@model QRCodeInASPNetCore.Models.UserInfoModel

@{
    ViewData["Title"] = "Token Information";
}

<h1>Patient's Token: @Model.Token</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>: 
            <span>@Model.Name</span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>:
            <span>@Model.Phone</span>
        </div>
        <div class="form-group">
            <label asp-for="GroupName" class="control-label"></label>:
            <span>@Model.GroupName</span>
        </div>
        <div class="form-group">
            <label asp-for="PatientType" class="control-label"></label>:
            <span>@Model.PatientType</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <span class="alert-danger font-weight-bolder">Note: Please take screenshot for verification</span>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
